 .navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(235, 96, 15);
    width: 100%;
    height: 110px;
  
}
.pre-navbar{
    display: flex;
    justify-content: center;
    background-color: black;
    color: antiquewhite;
   
}

.pre-navbar h2  {
    font-size: 20px;
}