.body {
    background-color: #243763;
    padding: 10%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    background-color: #FF6E31;
    border-radius: 15px;
    height: 100%;
    width: 50%;
    margin-left: 25%;
 


}

.divEmail {
    background-color: #FF6E31;
   
}

h3 {
    background-color: #FF6E31;
}

input {
    background-color: antiquewhite;
    border-radius: 8px;
    display: flex;
    text-align: center;
    border: none !important;
}

.divButton {
    background-color: #FF6E31;
}

.divPassword {
    background-color: #FF6E31;
}