* {
    background-color: #243763;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    background-color: #FF6E31;
    border-radius: 15px !important;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 10% !important;
    padding-top: 10px;

   
}

.divEmail {
    background-color: #FF6E31;
}

h3 {
    background-color: #FF6E31;
}

input{
    background-color: antiquewhite;
}

.divButton{
    background-color: #FF6E31;
}

.divPassword{
    background-color: #FF6E31;
}