.Header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    /* position: fixed; */
}

.Navbar {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    /* position: fixed; */
}

.Men {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: lightgray;
    /* position: fixed; */

}

.filtrarOrdenar {
    background-color: lightgray;
    height: 75vh;
    /* position: fixed; */
}