.filter__widget{
    padding-top: 60px;
}
.filter__widget select{
    margin:2px;
    padding: 8px;
    border: none ;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    color: black;
}
.filter__widget select:focus{
    outline: none;
}
.filter__widget span {
font-size:"8px"
};
.filter__widget select option{
    background-color: #243763;
    font-size: 0.9rem;
    color:#fff;
}

.search__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding-right: 12px;
    padding-left: 2px;
    cursor:pointer;
}
.search__box input{
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 10px;
}